

.info {
    background-color: whitesmoke;
    display : grid;
    height : 100vh;
    grid-template-columns: auto auto;
    padding-top: 50px;
}

.heading {
    grid-column-start: 1;
    grid-column-end: 3;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: flex;
    color: black;
}

.e-cart {
    .lottie-onlineshopping{
        width : 25vh;
        margin: auto;
    }
    .ecart-content {
        text-align: center;
    }
}

.web-development {
    .lottie-webdev{
     width : 25vh;
     margin: auto;
    }
    .web-content {
        text-align: center;
    }
 }

.customer-support {
    grid-column-start: 1;
    grid-column-end: 3;
    .lottie-support {
        width : 25vh;
        margin : auto;
    }
    .support-content {
        text-align: center;
    }
}

h4 {
    color: green;
}

p {
    color: black;
}